.table_container {
    padding: 15px;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    letter-spacing: 0px;
}

tr {
    width: 100%;
}


th, td {
    border: 1px solid;
    height: 40px;
    text-align: center;
    letter-spacing: 0px;
}

td span {
    color: white;
}

.th_header,
.th_footer {
    background: #CCCCCC;
}

.th_footer {
    font-weight: bold;
}

.tr_seven {
    background: #993399;
    color: white;
}

.tr_six {
    background: #3366FF;
}

.tr_five {
    background: #33CCFF;
}

.tr_eight {
    background: #66CC66;
}

.tr_three {
    background: #FFFF99;
}

.tr_two {
    background: #FF9900;
}

.tr_one {
    background: #CC3333;
}


.th_small {
    width: 85px;
}

.th_large {
    width: 160px;
}

@media screen and (max-width: 800px) {

    .th_small {
        width: 80px;
        padding: 0 9px;
    }

}